
nav {
	background-color: #ffffff;
	border-color: #cccccc;
	text-align: center;
	/*padding: 50px;*/
	border-bottom: 30px solid #dddddd;
}

body {
	background: url("assets/images/spiration dark.png");
}	

#name {
	float: left;
	background-color: #4aaaa5; 
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10%;

}
a:link {
	color: #777777;
	text-decoration: none;
}

aside {
	
}
	

.wrapper {
	width: 650px;
	margin: 0 auto 0 auto;

}

#navigate {
	margin-top: 30px;
	float: right;
}

#content {
	color: #777777;
	position: relative;
	clear: both;
}

#connect {
	margin-bottom: 50px;
	float: right;
}

#pic {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

footer {
	background-color: #666666;
	color: #dddddd;
	text-align: center;
	height: 80px;
	padding-top: 30px;
	clear: both;
	border-top: 5px solid #4aaaa5;
	
}